body {
    margin: 10px;
}

.Tweet {
    border: 3px solid lightgray;
}

.Tweet::after {
    content:"" ;
    display: block;
    clear: both;
}
.avatar {
    margin-right: 0.5rem;
    width: 5rem;
    height: 5rem;
    float: left;
    background-color: gold;
}

.clear {
    clear: both;
}